* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
}

th {
  background-color: #444;
}

tr:nth-child(even) {
  background-color: #333;
}

tr:hover {
  background-color: #555;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.calculate-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.calculate-btn:hover {
  background-color: #16a085;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.grade-result {
  font-size: 40px;
  font-weight: bold;
  color: #1abc9c;
}

.description {
  width: 100%;
}

.grade,
.weight {
  width: 60px;
}

.add-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #1788c9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0f6bb0;
}

.delete-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #ff3d3d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #da3a3a;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  td,
  th {
    font-size: 14px;
    padding: 5px;
  }

  .result {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .btn-cont {
    flex-direction: column;
    gap: 0;
  }
}
